.main-header {
    background-color: #6db3fe;
    color: rgb(14, 3, 3);
    padding: 10px;
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .navbar-brand a {
        font-size: 24px;
        color: rgb(17, 3, 3);
        text-decoration: none;
      }
  
      .navbar-links a {
        margin: 0 10px;
        color: rgb(12, 2, 2);
        text-decoration: none;
        font-size: 18px;
      }
  
      .navbar-links a.active {
        font-weight: bold;
        border-bottom: 2px solid rgb(29, 11, 11);
      }
    }
  }
  